@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: rgb(240, 250, 255);
}

.container {
    max-width: 70%;
    margin: auto;
}

.white-box {
    height: 80vh;
    width: 100%;
    margin: auto;
    border-radius: 50px;
    -webkit-box-shadow: 7px ​6px 22px #C7C7C7;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:  7px ​6px 22px #C7C7C7;
    box-shadow: 7px ​6px 22px #5e5e5e;
}